.baseSettings {
  fill: fb-white;
  text-length: 28;
  text-anchor: middle;
  opacity: 1;
  font-family: Colfax;
  font-weight: light;
}

.smallFont {
  font-size: 26;
}

.clock-display {
  font-family: Colfax;
  font-weight: light;
  fill: white;
}

.clock {
  font-family: Colfax-Light;
  font-weight: bold;
  font-size: 95;
  text-anchor: end;
}

.clock-seconds {
  font-family: Colfax;
  font-weight: light;
  font-size: 35;
  text-length: 10;
  text-anchor: start;
}

.date {
  font-size: 25;
  text-length: 15;
  text-anchor: middle;
  font-family: Colfax;
  font-weight: light;
  fill: white;
}

#batteryLevel {
  x: 13;
  y: 28;
  font-size: 20;
  font-family: Colfax;
  font-weight: light;
  text-anchor: start;
  text-length: 4;
  fill: white;
}
